# Python bytecode
__pycache__
*.py[cod]

# Virtual environments
.env
.venv
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Test/coverage
.coverage
.pytest_cache/
.tox/
.nox/

# Jupyter Notebook
.ipynb_checkpoints

.DS_Store