<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoRhapsody</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link type="text/css" href="{{ url_for('static', filename='css/wgo.player.css') }}" rel="stylesheet" />
    
    <style></style>
</head>
<body>

    <div id="page-wrapper">
        
        <div id="left-panel">
            
            <div id="sgf-upload-section" class="panel">
                <label for="sgfUpload">Upload SGF File</label>
                <input type="file" id="sgfUpload" accept=".sgf">
            </div>

            <div id="advanced-controls-container" class="panel">
                <h2>Sound Control Panel</h2>
                <div id="advanced-controls-panel">
                    </div>
            </div>

        </div>

        <div id="main-panel">

            <div id="goban-container">
                <div id="wgo-player-display"></div>
            </div>

            <div id="controls">
                <button id="prevBtn" disabled>&laquo; Prev</button>
                <button id="playPauseBtn" disabled>Play</button>
                <button id="nextBtn" disabled>Next &raquo;</button>
                <button id="resetBtn" disabled>Reset</button>
            </div>
            
            <div id="status-message"></div>
        </div>

        <div id="right-panel">
            <div id="analysis-panel" class="panel">
                <h3>Move Analysis</h3>
                <div id="analysisDiv">
                    Upload an SGF file to begin.
                </div>
            </div>
            <div id="analysis-details-panel" class="panel">
                <h3>Analysis Details</h3>
                <div id="analysis-details">
                    </div>
            </div>
            <div id="move-distribution-panel" class="panel">
                <h3>Move Pattern Distribution</h3>
                <div id="distribution-chart"></div>
             </div>
        </div>

    </div>

    <script src="{{ url_for('static', filename='js/wgo.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wgo.player.min.js') }}"></script>
    <script src="https://unpkg.com/tone"></script>
    <script src="{{ url_for('static', filename='js/music_engine.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>